# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Build output
.next/
dist/
build/

# Env files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# MongoDB
*.local
*.lock

# Misc
coverage/

# Ignore test data
backend/test-data/
frontend/test-data/ 